
.nav {
  height: 126px;
  width: 100%;
  background-color: var(--snowWhite);
  font-family: var(--muliFont);
  font-size: 18px;
  section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // justify-items: center;
    align-items: center;
    max-width: 2000px;
    margin: auto;
    ul {
      display: flex;
      li {
        list-style-type: none;
        padding: 0 10px 0px 10px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.Unlocklogo{
 size: 27px;
 border-radius: 50%;
 border-color: pink;
}

//Tablet
@media screen and (max-width: 768px) {
}
//Mobile
@media screen and (max-width: 600px) {
}


