
.SortMyRecyclingCard{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 10px auto;
    max-width: 1800px; 

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        margin: 15px;
      }
    
      .recyclingCard {
        width: 100%;
      }

}
