

h3{
text-align: center;
font-size: 30px;
font-family: var(--muliFont);
color: var(--greenWoods);

}

.dinGuide{
  color: var(--greenGoblin);
}
.SortMyTrashWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  margin: 0 auto;
  max-width: 1800px; 
  // bottom: 100px;
  // z-index: 1;

}


  //Tablet
@media screen and (max-width: 768px) {
}
//Mobile
@media screen and (max-width: 600px) {
}


