.loginFormStyle {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;

  label {
    width: 100%;
    input {
      width: 100%;
      height: 45px;
    }
  }
.passwordInputContainer {
  position: relative;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  width: 90%;
  margin-top: 5vh;
}
}