.loginFormStyle {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;

  label {
    width: 100%;
    input {
      width: 100%;
      height: 45px;
    }
  }


}
// Tablet
@media screen and (max-width: 768px) {
  
}

// Mobile
@media screen and (max-width: 600px) {

}


  //Tablet
@media screen and (max-width: 768px) {
}
//Mobile
@media screen and (max-width: 600px) {
}


