
.MyContainerCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    width: 251px;
    height: 194px;
    background-color: var(--snowWhite);
    position: relative;

  .checkBox{
    position: absolute;
    right: 0; 
    top: 0;
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 

    &:hover{
        cursor: pointer;
    }
}


img{
    display: block; 
    height: 71px;
    margin: 0 auto; 
}

}
.ContainerCardText{
    font-size: 23px;
    font-family: var(--muliFont);
    text-align: center;
}