
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Muli:wght@400&display=swap');

:root {

  //Colors for all:
  --snowWhite: #ffffff;
  --darkKnight: #000000;
  --frontNavBox: #D8EADB;
  --greenWoods: #114D46;
  --activeGreen: #6DA830;
  --starOrange:#FFA500;
  --gandalfTheGrey: #00000029;
  --greenGoblin: #119B1E;

  //--Small cards
  --earth: #2B2C2E;
  --oceanBlue: #017EC0;
  --myGreenForest: #06682D;
  --greenBottle: #28A745;
  --cardboardBrown: #C4A167;
  --orangeLifeboat: #F18700;
  --oak: #7F652B;
  --darkBlueSea: #004679;
  --wineRed: #951C3F;
  --fullMetalJacket: #607179;
  --dangerRed: #E30620;
  --darkAshes: #2B2C2E;

  //Wave colours
  --lightWave: #62BB6533;
  // --darkWave: #3f764133;

//Order
  --ordreGrey: #DCDCDC;
  --ordreGreen: #D8EADB;

//Login
--bakcGroundGreen: #F4F7F7;
--lightLogin:#FBFCFC;


  /* Fonts for all */
  --fontFamily: 'Open Sans', sans-serif;
  --sansFamily: sans-serif;
  --muliFont: 'Muli', sans-serif;

}