
.sendFormStyle {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    max-width: 400px;
    padding-left: 41px;
    padding-bottom: 190px;
    font-family: var(--muliFont);

    span{
        color: var(--orangeLifeboat);
        font-weight: bold;
    }

    button{
        width: 210px;
        height: 74px;
        background-color: var(--ordreGreen);
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-family: var(--muliFont);
        margin-left: auto;

   
            &:hover {
              cursor: pointer;
              background-color: var(--myGreenForest);
              color: var(--snowWhite);
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr; 
                text-align: center;
                gap: 10px; 
                width: 250px;
                margin: auto ;
              } 
    }

    label {
        color: blue;
        font-size: 14px;
        font-weight: bold;

        input {
            background-color: #FFFFFF;
            top: 204px;
            left: 184px;
            width: 407px;
            height: 38px;
            border: none;
            border-radius: 5px;  
            
            &::placeholder {
                text-indent: 10px;
            }
 
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr; 
        text-align: center;
        gap: 10px; 
        width: 250px;
        margin: auto ;
      }
            
        }
       
    }

   }

    @media (max-width: 768px) {
        label {
            input {
                font-size: 12px; 
            }
        }

        textarea {
            font-size: 12px
        }
    }


