.OrderMyContainer {
    background-color: var(--ironGiant);
    width: 1384px;
    height: 1046px;
    border-radius: 5px;
  justify-content: space-between;
  margin: auto; 

  // aside{
  //   background-color:green;
  //   height: 200px;
  //   margin-right: 1000px; 
  //   padding: 20px; 
  // }

  
    .OrderMyContainerWrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin: 0 auto;
      max-width: 1800px;
      width: 529px;
      height: 434px;
    }
  
    .orderButton {
      display: block ; 
      width: 210px;
      height: 74px;
      background-color: var(--ordreGreen);
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-family: var(--muliFont);
      margin-left: auto;

  
      &:hover {
        cursor: pointer;
        background-color: var(--myGreenForest);
        color: var(--snowWhite);
      }
    }

    .stepText{
      font-size: 25px;
    }

    .containerHeadline{
      font-size: 46px;
      color: var(--darkKnight);
    }
    p{
      font-size: 25px;
    }
  }
  