.headerContainer {
  position: relative;
  height: 1200px;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    height: 400px;
  }
}

.headerImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 1s ease;

  &.fade {
    opacity: 0;
  }

  @media screen and (max-width: 768px) {
    height: 100%;
 
  }
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  cursor: pointer;
  opacity: 0.7;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }

  &:hover {
    opacity: 1;
  }
}

.leftArrow {
  left: 20px;
  color: rgb(255, 255, 255);

  @media screen and (max-width: 768px) {
    left: 10px;
  }
}

.rightArrow {
  right: 20px;
  color: white;

  @media screen and (max-width: 768px) {
    right: 10px;
  }
}
